#footer {
    position: relative;
    width: 100%;
    background: rgb(4,99,128);
}

.footer-text {
    position: relative;
    display: table-cell;
    width: 75vw;
    left: 12.5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: rgb(255, 255, 255);
    font-size: 1.75vw;
    font-family: MontserratAlternates-Regular, sans-serif;
    text-align: center;
    vertical-align: middle;
}

.footer-support, .footer-support:link, .footer-support:visited, .footer-support:active {
    color:rgb(164, 164, 164);
    text-decoration: none;
}

.footer-support:hover {
    color:rgb(177, 177, 177);
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}


@media screen and (min-width: 1900px) {
    .footer-text {
        font-size: 33.25px;
        width: 1425px;
        left: calc((100vw - 1425px)/2);
    }
}