#mainbody {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: 2;
}

#main-div-1 {
    position: relative;
    width: 100%;
    height: calc(150px + 2.5vw);
    z-index: 3;
    background-color: rgb(4, 99, 128);
}

#main-div-1 h1 {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:rgb(255, 255, 255);
    font-size: 2.5vw;
    font-family: KronaOne, sans-serif;
}

@media screen and (min-width: 1900px) {
    #main-div-1 {
        height: 197.5px;
    }
    #main-div-1 h1 {
        font-size: 47.5px;
    }
}

#info-div {
    position: relative;
    margin: auto;
    width: 100%;
}

@media screen and (min-width: 1900px) {
    #info-div {
        width: 1900px;
    }
}

#info {
    position: relative;
    top: calc(2.5vw);
    z-index: 4;
    width: 100%;
}

.info-table {
    position: relative;
    top: 100px;
    table-layout: auto;
    width: 100%;
}

.info-head {
    color: rgb(52,58,64);
    font-family: KronaOne, sans-serif;
    font-size: 1.5vw;
}

.info-div {
    position: relative;
    display: block;
    background: rgb(1,58,99);
    left: 35%;
    width: 30%;
    height: 20px;
    z-index: 5;
}

.info-img {
    position: relative;
    top: 50px;
    width: 40%;
}

.info-body {
    position: relative;
    top: 100px;
    color: rgb(52,58,64);
    font-family: KronaOne, sans-serif;
    font-size: 2em;
    text-align: center;
    vertical-align: top;
}

.info-body div {
    margin: auto;
    height: auto;
    width: 85%;
}